---
export interface Props {
  home: string;
  contact: string;
  src: string;
  alt: string;
  hrefHome: string;
  hrefContact: string;
}

const { src, alt, hrefHome, hrefContact, home, contact } = Astro.props;
---

<nav>
  <div>
    <img class="logo" src={src} alt={alt} />
  </div>

  <div class="links">
    <a class="link" href={hrefHome}>{home}</a>
    <a class="link" href={hrefContact}>{contact}</a>
  </div>
</nav>
<style>
  :root {
    --accent: 49, 115, 60;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #65d776 50%);
  }

  nav {
    width: 80%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    border: 1px solid rgba(var(--accent), 25%);
    padding: 20px;
  }

  .logo {
    width: 200px;
  }
  .link {
    color: #33733c;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
  }
  .link:hover {
    transition: all 0.2s;
    color: #4a9b56;
  }
  .links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
  }
</style>
